/* Mobile Screens */
@media screen and (max-width: 576px){
    .main-header{
        box-shadow: 0px 1px 10px rgb(209, 209, 209);
    }
    .header{
        background-position: initial;
        padding: 30px 20px 5px 20px;
        /* height: 70vh; */
    }
    .bg-circle{
        position: absolute;
        width:600px;
        height:600px;
        top: 20px;
        left: 153px;
        border-radius:50%;
        background: #e8e8e8;
        box-shadow: 6px 6px 12px #767676,
             -6px -6px 12px #ffffff;
        border: 3px solid var(--color-secondary);
    }
    .header .main-img{
        width: 64%;
    }

    .header .bg{
        left: -10px;
        width: 28rem;
    }
    .intro-text{
        text-align: start;
        position: relative;
    }
    .intro-text .text-1{
        font-weight: 700;
        font-size: 26px;
    }
    .text-1>.text-2{
        font-size: 28px;
        margin-top: 10px;
        color: var(--color-primary);
    }
    .intro-text .hide{
        position: relative;
        overflow: hidden;
        height: 35px;
    }
    .intro-text .line{
        width: 50%;
        margin-top: 5px;
        height: 0.3rem;
        background:var(--color-secondary);
    }
    .intro-text .circle{
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: var(--color-secondary);
        top: 460px;
        opacity: 1;
    }

    .text-container{
        margin: 5px 0;
        padding-right:20px;
    }

    .main-text {
        text-transform: capitalize;
        font-size:35px;
        font-family: var(--font-poppins);
        line-height:normal;
        font-weight: 600;
        height:60px;
    }
    .subtext{
        font-size: 16px;
        height: 80px;
        border-left:3px solid var(--color-primary);
        padding-left: 10px;
    }

    .scroll{
        position: absolute;
        left: 356px;
        top: 200px;
    }
    .scroll .text{
        writing-mode: vertical-rl;
        position: absolute;
        top: 500px;
        letter-spacing: 15px;
        font-size: 12px;
    }

    .scroll .scroll-circle{
        text-align: center;
        width: 20px;
        height: 20px;
        background: linear-gradient(0deg, rgba(217,236,199,1) 0%, rgba(7,163,178,1) 100%);
        border-radius: 50%;
        animation: pulse 2s infinite;
    }
    
    .scroll .scroll-line{
        text-align: center;
        width: 2px;
        height: 120px;
        background: linear-gradient(0deg, rgba(217,236,199,1) 0%, rgba(7,163,178,1) 100%);
    }

    .section-title {
        font-weight: 400;
        font-size: 6.5rem;
        top: -50px;
        left:0;
    }

    .image-section{
        background:#fff  ;
        background-size: cover;
      }

    .after-header{
        overflow: hidden;
        height: auto;
        padding: 30px 10px 30px 10px;

    }

    .after-header h1{
        font-size: 32px;
    }
    .after-header p{
     font-size: 20px;
    }

    /*================================================================
    About Section
    ================================================================*/
    .about-me h4{
        font-size: 32px;
        font-family: var(--font-poppins);
    }

    .about-me p{
        font-size: 18px;
        font-weight: 100;
        line-height: 1.8em;
    }
    .about-me p strong{
        font-weight: 600;
    }
    .about-me ul{
        padding: 0;
        font-size: 18px;
    }
    .about-me ul li{
        padding: 5px 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    .about-me ul i{
       font-size: 18px;
       margin-right: 10px;
       color: var(--color-secondary);
    }
    .about-img{
      width: 250px;
      height: 250px;
    }
  
    .rect {
      top: 100px;
      left: 0;
      width: 300px;
      height: 300px;
    }
    
   
    .menu ul{
        padding:75px 5px;
      }

    .gallery .skill-card{
    width: 100px;
    height: 100px;
    padding: 20px 10px;
    }
    .skill-card img{
    width: 50px;
    }

    .frame{
        position: absolute;
        border: 5px solid rgb(255, 255, 255);
        width: 110px;
        top: -92px;
        left: 60%;
    }
    .frame:nth-child(1){
        display: none !important;;
    }

    .frame:nth-child(2){
        top: 0%;
        left: 44%;
        z-index: 1;
      }
      .frame:nth-child(3){
        top: -56%;
        left: 67%;
      }

    /*==================
    Partner
    ==================*/
    .partners{
        display: flex;
        overflow-x: scroll;
        justify-content: space-between;
        flex-direction: column;  
    }
    .partners img{
        width: 150px;
        transition: all .5s ease;
    }

    .address .social{
        align-items: center;
        padding: 5px 40px 5px 0;
    }

    /* --------------------------------
        Porfolio
    ----------------------------------*/

    /* --------------------------------
        Globals
    ----------------------------------*/
    .car{
        top: 0px;
        left: 400px;
        width: 100px;
    }
  }
